<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="HtmlDir" value="F:\Descargas\Yabla - Authentic English - 2012-2015\Intermediate-1\_Spanish\"/>
    <add key="MediaDir" value="F:\Descargas\Yabla - Authentic English - 2012-2015\Intermediate-1\media\"/>
  </appSettings>
</configuration>